html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #1f1e1e;
	font-family: 'Orbitron', sans-serif;
}

.mainBlack {
	display: inline-block;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #1f1e1e;
}

.mainBlack p, td {
	color: white;
}

.mainWhite {
	display: inline-block;
	margin:0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.mainWhite p {
	color: black;
}

.topToBottom {
	width: 0;
}

#scroll {
	position: absolute;
	text-align: center;
	padding: 0 30%;
	bottom: 0;
	width:40%;
}

#intro {
	right: 5%;
	font-size: 3em;
}

#options {
	left:5%;
	font-size: 1em;
	border-spacing: 0 6em;
}

#computer {
	margin:0 auto;
	width: 100%;
	height: 50%;
	text-align: center;
}

.redBottomBorder {
	border-bottom: 1px solid red;
}

.verticalCenter {
	margin:0;
	position:absolute;
	top:50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

h1 {
	font-size: 5em;
	margin:0;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 10s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: red; }
}