html, body {
	margin: 0;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #1f1c1a;
	font-family: 'Orbitron', sans-serif;
}

.notice {
	text-align: center;
	position: relative;
	color: red;
	left: 0;
	right: 0;
	margin: auto;
}

#parentContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#childContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    overflow-x: hidden;
}

#bumped {
	bottom: 1%;
}


#firstPageBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	background: linear-gradient(180deg, #1f1c1a 30%, 60%, #403c3a 80%)
}

#hiBox, #navBox {
	width: 20%;
	height: 60%;
}

#navBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#navBox div {
	height: 25%;
}

#hiBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}

#hiBox p {
	height: 1%;
	width: 1%;

}

.paddingBox {
	width: 20%;
	height: 20%;
}

#screenText {
	line-height: 1.5em;
	color: #39ff14;
}

#screenImage {
	width: 75% !important;
	height: auto !important;
}

#computerBox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:  column;
	width: 60%;
}

#computerBox img, p {
	width: 100%;
	height: 100%;
	max-height: 500px;
	max-width: 600px;
}

#screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 11%;
	left: 24.5%;
	position: absolute;
	width: 52.5%;
	max-width: 50%;
	max-height: 37%;
	overflow: hidden;
}

#screen > img {
	width: 90%;
	height: auto;
	margin: auto;
	max-width: 225px;
}

.navItem {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:  column;
}